processed_song/playlist.txt
Someone Like You
When We Were Young
Hello
Million Years Ago
Rolling in the Deep
Turning Tables
Lovesong
Silver Scrapes
Rolling In The Deep (Acapella)
Life Support
Perfect
Afterglow
